/* Estilos del header */
header {
    display: flex;
    align-items: center;
    justify-content: center; /* Center the content horizontally */
    background-color: #0056b3;
    color: white;
    padding: 1rem;
    text-align: center;
    position: relative; /* To use absolute positioning for logo */
}

header img.app-logo {
    height: 150%; /* Increase size by 50% */
    max-height: 3.75rem; /* Adjust max-height accordingly */
    margin-right: 1rem;
    position: absolute; /* Position logo absolutely */
    left: 0.5rem; /* Align to the left with some padding */
}

header h1 {
    font-size: 1.5rem; /* Make the h1 smaller */
    margin: 0;
    flex: 1; /* Allow h1 to take up remaining space */
    text-align: center; /* Center text */
}

@media (max-width: 480px) {
    header {
        justify-content: center; /* Align content to the center */
    }

    header img.app-logo {
        position: relative; /* Change position to relative */
        height: auto; /* Adjust size for mobile */
        max-height: 2.5rem; /* Smaller max height for mobile */
        margin-right: 1rem; /* Ensure space between logo and h1 */
    }

    header h1 {
        font-size: 1.25rem; /* Slightly smaller font size */
        text-align: center; /* Center text */
    }
}
